Source: sickchill
Section: contrib/python
Priority: optional
Maintainer: Dustyn Gibson <miigotu@gmail.com>
Build-Depends: debhelper (>= 11~),
               debhelper-compat (=12),
               git
Standards-Version: 4.5.0
Homepage: https://sickchill.github.io/

Package: sickchill
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         readynasos (>= 6.1.0),
         php5-sqlite,
         sed,
         git
Description: Searches torrent and nzb providers for shows.
 Manage your whole workflow and get episodes as soon as they are available.
