<Application resource-id="sickrage"><!-- 'resource-id' must be AppName -->
  <Category>APP_CAT_PRODUCTIVITY</Category>
  <Name>SickRage</Name>
  <Author>Mhynlo</Author>
  <Version>2017.12.09-1</Version>
  <RequireReboot>0</RequireReboot>
  <ConfigURL/>
  <LaunchURL>http://localhost:6765/</LaunchURL>
  <ReservePort>6765</ReservePort>
  <InfoURL>https://sickrage.github.io/</InfoURL>
  <DebianPackage>sickrage</DebianPackage>
  <ServiceName>fvapp-sickrage.service</ServiceName>
  <Description lang="en-us">Automatic Video Library Manager for TV Shows.</Description>
</Application>
